<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading"> About us </h2>
    </div>
</section>
<div class="container-hotel-details" xmlns:th="http://www.thymeleaf.org">
    <div class="text-dark hotel-details-image">
        <img src="logo-png.png" alt="logo_image" height="500" width="700">
    </div>
    <div class="justify-content-end hotel-details-text">
        <p class="text-body text-justify">
            Looking for accommodation might be problematic sometimes, therefore, with this web application,
            we are introducing a simpler and an easier way to search for available hotels in Macedonia. Local and
            international tourists will have a major benefit from this web application because, on demand, AmazeStay
            will provide them with a detailed list of all places which are available for booking.
        </p>

        <div class="font-weight-bold">
            Get in touch with us!
        </div>
        <br>
        <div class="font-weight-bold">
            Telephone number: +389 71 234 567
        </div>

        <div class="font-weight-bold">
            Email: amazestay@info.com
        </div>
        <br>

    </div>
</div>