<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading"> About us </h2>
    </div>
</section>
<div class="container-hotel-details" xmlns:th="http://www.thymeleaf.org">
    <div class="text-dark hotel-details-image">
        <img src="logo-png.png" alt="logo_image" height="500" width="700">
    </div>
    <div class="justify-content-end hotel-details-text">
        <p class="text-body text-justify" style="font-size:18px;">
            Looking for accommodation might be problematic sometimes. Fortunately,
            AmazeStay is here to make your trip to Macedonia much more enjoyable.
            Take a look at our website to find out more about hotels and check out the services that we offer.
            Can't find what you're looking for?
        </p>

        <div class="font-weight-bold" style="font-size:18px;">
            Get in touch with us!
        </div>
        <br>
        <div class="font-weight-bold" style="font-size:20px;">
            Telephone number: +389 71 234 567
        </div>

        <div class="font-weight-bold" style="font-size:20px;">
            Email: amazestay@info.com
        </div>
        <br>

    </div>
</div>