<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading" style="font-size: 3rem;">Add Comment</h2>
    </div>
</section>
<div class="container" xmlns:th="http://www.thymeleaf.org" style="margin-bottom: 50px">
    <div class="row">
        <div class="col-md-5">
            <form action="/hotels/add-comment" method="POST">
                <input id="hotelId" type="hidden" name="hotelId" th:value="${hotelId}">
                <input id="userId" type="hidden" name="userId" th:value="${userId}">
                <div class="form-group">
                    <label for="comment">Hotel comment</label>
                    <input type="text"
                           class="form-control"
                           id="comment"
                           name="comment"
                           required
                           placeholder="Enter comment description">
                </div>
                <div class="form-group">
                    <label for="rating">Hotel rating</label>
                    <input type="number"
                           class="form-control"
                           id="rating"
                           name="rating"
                           required
                           placeholder="Enter rating">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/hotels">Back</a>
            </form>
        </div>
    </div>
</div>