<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading" style="font-size: 3rem;">Edit Hotel</h2>
    </div>
</section>
<div class="container" xmlns:th="http://www.thymeleaf.org" style="margin-bottom: 50px">
    <div class="row">
        <div class="col-md-5">
            <form action="/hotels/add" method="POST">
                <input id="id" type="hidden" name="id" th:value="(${hotel} != null ? ${hotel.getId()} : '')">
                <div class="form-group">
                    <label for="name">Hotel name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${hotel} != null ? ${hotel.getName()} : '')"
                           required
                           placeholder="Enter hotel name">
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text"
                           class="form-control"
                           id="latitude"
                           name="latitude"
                           th:value="(${hotel} != null ? ${hotel.getLatitude()} : '')"
                           placeholder="Latitude">
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text"
                           class="form-control"
                           id="longitude"
                           name="longitude"
                           th:value="(${hotel} != null ? ${hotel.getLongitude()} : '')"
                           placeholder="Longitude">
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="text"
                           class="form-control"
                           id="website"
                           name="website"
                           th:value="(${hotel} != null ? ${hotel.getWebsite()} : '')"
                           placeholder="Website">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text"
                           class="form-control"
                           id="address"
                           name="address"
                           th:value="(${hotel} != null ? ${hotel.getAddress()} : '')"
                           placeholder="Address">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text"
                           class="form-control"
                           id="phoneNumber"
                           name="phoneNumber"
                           th:value="(${hotel} != null ? ${hotel.getPhoneNumber()} : '')"
                           placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text"
                           class="form-control"
                           id="email"
                           name="email"
                           th:value="(${hotel} != null ? ${hotel.getEmail()} : '')"
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           th:value="(${hotel} != null ? ${hotel.getDescription()} : '')"
                           placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="imagePath">Image Path</label>
                    <input type="text"
                           class="form-control"
                           id="imagePath"
                           name="imagePath"
                           th:value="(${hotel} != null ? ${hotel.getImagePath()} : '')"
                           placeholder="Image Path">
                </div>
                <div class="form-group">
                    <label for="bookingLink">Booking Link</label>
                    <input type="text"
                           class="form-control"
                           id="bookingLink"
                           name="bookingLink"
                           th:value="(${hotel} != null ? ${hotel.getBookingLink()} : '')"
                           placeholder="Booking Link">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/hotels">Back</a>
            </form>
        </div>
    </div>
</div>