<div class="container-home" xmlns:th="http://www.thymeleaf.org" style="font-weight: 500; text-shadow: 2px 5px #64686d;
    color: #ffffff;">
    <span style="font-size: 50px; width: 50%; color: white; margin-top: 150px; margin-left: 50px; display: inline-block">
        Do you want a quick and easy way to book your next hotel stay in Macedonia?
    </span>
    <br>
    <span style="font-size: 50px; width: 50%; color: white; margin-left: 50px; margin-top: 100px; display: inline-block">
        You are at the right place!
    </span>
    <a href="/hotels">
        <button class="btn-book-now" style="margin-left: 50px; margin-top: 100px;">BOOK NOW</button>
    </a>
</div>