<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading" style="font-size: 3rem;">Hotels</h2>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{'/hotels/add-form'}"
           class="btn btn-sm btn-info add-hotel">
            <i class="fa fa-trash">Add New Hotel</i>
        </a>
        </th:block>
        <a th:href="@{'/hotels/sort'}"
           class="btn btn-sm btn-info sort-hotel">
            <i class="fa fa-trash">Sort Hotels Alphabetically</i>
        </a>
        <div class="search-bar" style="margin-top: 25px">
            <form th:action="@{'/hotels/search'}" th:method="POST">
                <input type="text"
                       placeholder="Search..."
                       name="keyword"
                       th:value="${keyword}">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</section>
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <section class="hotels-section">
        <div th:each="hotel: ${hotels}">
            <div class="box">
                <img class="box-hotel-photo" th:src="${hotel.getImagePath()}" height="402" width="512"
                     alt="hotel_picture"/>
                <p th:text="${hotel.getName()}"></p>
                <hr>
                <a th:href="@{'/hotels/{hotelId}' (hotelId=${hotel.getId()})}">
                    <button class="btn-read-more">Read More</button>
                </a>

                <div style="text-align: center">
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{'/hotels/delete/{id}' (id=${hotel.getId()})}"
                       class="btn btn-sm btn-danger delete-hotel">
                        <i class="fa fa-trash">Delete</i>
                    </a>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{'/hotels/edit-form/{id}' (id=${hotel.getId()})}"
                       class="btn btn-sm btn-info edit-hotel">
                        <i class="fa fa-trash">Edit</i>
                    </a>
                    </th:block>
                </div>

            </div>
        </div>
    </section>
</div>