<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading" style="font-size: 3rem;" th:text="${hotel.getName()}"></h2>
    </div>
</section>
<div class="container-hotel-details" xmlns:th="http://www.thymeleaf.org">
    <div class="text-dark hotel-details-image" style="height: 675px;">
        <img th:src="${hotel.getImagePath()}" alt="hotel_image" height="500" width="700">
    </div>
    <div class="justify-content-end hotel-details-text" style="padding: 40px; line-height:1.7; ">
        <p class="text-body text-justify" th:text="${hotel.getDescription()}" style="font-size:17px">
        </p>
        <div class="font-weight-bold">
            Website:
        </div>
        <a th:href="${hotel.getWebsite()}" target=”_blank”>
            <div th:text="${hotel.getWebsite()}">
            </div>
        </a><br>
        <div class="font-weight-bold">
            Telephone Number:
        </div>
        <div th:text="${hotel.getPhoneNumber()}">
        </div>
        <br>
        <div class="font-weight-bold">
            Address:
        </div>
        <div th:text="${hotel.getAddress()}">
        </div>
        <br>
        <div class="font-weight-bold">
            Email:
        </div>
        <div th:text="${hotel.getEmail()}">
        </div>
        <br>
        <a th:href="${hotel.getBookingLink()}" target="_blank">
            <button class="btn-read-more" style="width: 100%; border-radius: 0">MAKE A RESERVATION</button>
        </a>
    </div>
</div>
<h4 style="text-align: center; margin-top: 20px">Find us on the map!</h4>
<hr>
<div style="margin: auto; width: 100%; text-align: center">
    <iframe th:src="@{'https://maps.google.com/maps?q={lat},{lng}&t=&z=15&ie=UTF8&iwloc=&output=embed' (lat=${hotel.getLatitude()},lng=${hotel.getLongitude()})}"
            height="400px" style="width: 70%;">
    </iframe>
</div>

<h4 style="text-align: center; margin-top: 20px">Comments and Ratings</h4>
<hr>
<div style="margin: auto; width: 70%">
    <div th:each="comm: ${comments}" style="margin-bottom: 10px; background-color: #D3D3D3; border-radius: 10px; padding: 10px">
        <p style="margin-left: 20px"><span style="font-weight: bold">Author: </span><span th:text="${comm.getUser().getName()}"></span> <span th:text="${comm.getUser().getSurname()}"></span> </p>
        <p style="margin-left: 20px"><span style="font-weight: bold">Rating: </span><span th:text="${comm.getRating()}"></span></p>
        <p style="margin-left: 20px"><span style="font-weight: bold">Comment: </span><q th:text="${comm.getComment()}"></q></p>
    </div>
    <a th:href="@{'/hotels/add-comment-form/{hotelId}' (hotelId=${hotel.getId()})}">
        <button class="btn-read-more">Add comment</button>
    </a>
</div>
